<script>
    // Function to toggle button state for a given form
    function toggleButtons(formClass) {
        var checkboxes = document.getElementsByClassName(`material-checkbox-${formClass}`);
        var anyChecked = Array.from(checkboxes).some(checkbox => checkbox.checked);
        var buttons = document.getElementsByClassName(`action-button-${formClass}`);
        for (var button of buttons) {
            button.disabled = !anyChecked;
        }
    }

    // Toggle all checkboxes for a given form when "select-all" checkbox is clicked
    function selectAllToggle(formClass) {
        var selectAll = document.getElementById(`select-all-${formClass}`);
        var checkboxes = document.getElementsByClassName(`material-checkbox-${formClass}`);
        var isChecked = selectAll.checked;
        for (var checkbox of checkboxes) {
            checkbox.checked = isChecked;
        }
        toggleButtons(formClass);
    }

    // Add onclick event to all checkboxes to toggle buttons independently
    document.getElementById('select-all-1').onclick = function() { selectAllToggle(1); };
    document.getElementById('select-all-2').onclick = function() { selectAllToggle(2); };

    document.querySelectorAll('.material-checkbox-1').forEach(function(checkbox) {
        checkbox.onclick = function() { toggleButtons(1); };
    });

    document.querySelectorAll('.material-checkbox-2').forEach(function(checkbox) {
        checkbox.onclick = function() { toggleButtons(2); };
    });
</script>
