{% extends "base_generic.html" %}

{% block content %}
<h1>Login</h1>
<br/><br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<br/><br/>

<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="username">Benutzername</label>
      <input type="text" class="form-control" name="username" style="width: 300px;" id="focusField">
    </div>
    <div class="form-group">
      <label for="password">Passwort</label>
      <input type="password" class="form-control" name="password" style="width: 300px;">
    </div>
    
    <input type="submit" value="Login" class="btn btn-secondary">
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("focusField").focus();
});
</script>

{% endblock %}
