{% extends "base_generic.html" %}

{% block content %}
<h1>Reset Password</h1>
<br/><br/>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
<br/><br/>

<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" class="form-control" name="email" style="width: 300px;" id="focusField">
    </div>
    
    <input type="submit" value="Reset Password" class="btn btn-secondary">
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("focusField").focus();
});
</script>

{% endblock %}

