{% extends "base_generic.html" %}

{% block content %}
<h1>Password Change</h1>
<br/><br/>
    {% if messages %}
        <div class="message-container">
            {% for message in messages %}
                <div class="alert alert-danger">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
<br/><br/>

<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
      <label for="old_password">Old Password</label>
      <input type="password" class="form-control" name="old_password" style="width: 300px;">
    </div>
    <div class="form-group">
      <label for="new_password1">New Password</label>
      <input type="password" class="form-control" name="new_password1" style="width: 300px;">
    </div>
    <div class="form-group">
      <label for="new_password2">Confirm New Password</label>
      <input type="password" class="form-control" name="new_password2" style="width: 300px;">
    </div>
    
    <input type="submit" value="Change Password" class="btn btn-secondary">
</form>

{% endblock %}

