<!-- templates/admin/password_reset.html -->

{% extends "base_generic.html" %}
{% load static %}

{% load i18n %} 
{% block content %}

<div class="text-center mb-4">
    <img src="{% static 'images/LBA-logo.png' %}" alt="LBA Logo" class="img-fluid" style="max-width: 200px;">
</div>

<h3>{% trans "Passwort zurücksetzen" %}</h3>

{% if messages %}
<br/><br/>
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
<br/><br/>
{% endif %}

<p>{% trans "Geben Sie Ihre E-Mail-Adresse ein und wir senden Ihnen einen Link zum Zurücksetzen Ihres Passworts." %}</p>

<form action="" method="POST">
    {% csrf_token %}

    <div class="form-group">
        <label for="id_email">{% trans "E-Mail-Adresse" %}</label>
        <input type="email" class="form-control" name="email" style="width: 300px;" id="focusField" required>
    </div>

    <input type="submit" value="{% trans 'Link senden' %}" class="btn btn-primary">
    <a href="{% url 'login_user' %}" class="btn btn-secondary">{% trans "Zurück zum Login" %}</a>
</form>

<script>
document.addEventListener("DOMContentLoaded", function() {
    document.getElementById("focusField").focus();
});
</script>

{% endblock %}
