{% extends "base_generic.html" %}

<!-- templates/list_material.html -->
{% block content %}
<h1>Liste des matériels (vision GD)</h1>
<br/>
<form method="post" id="material-form">
    {% csrf_token %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Material</th>
            </tr>
        </thead>
        <tbody>
            {% for mat in list_material_gd %}
                <tr>
                    <td><input type="checkbox" name="selected_materials" value="{{ mat.id }}"></td>
                    <td>{{ mat.id }} {{ mat.positions_nr }} <a href="{% url 'update-material-gd' mat.id %}">{{ mat.kurztext_de }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <button type="submit" name="action" value="transfer" class="btn btn-primary">Send back to producer</button>
    <button type="submit" name="action" value="transfer" class="btn btn-primary">Generate "SAP input</button>
    <button type="submit" name="action" value="delete" class="btn btn-danger">Delete</button>
</form>
<br/>
<hr><br/>

<script>
    document.getElementById('select-all').onclick = function() {
        var checkboxes = document.getElementsByName('selected_materials');
        for (var checkbox of checkboxes) {
            checkbox.checked = this.checked;
        }
    }
</script>
{% endblock %}
