{% extends "base_generic.html" %}
{% load help_tags %}
{% block content %}
    <h1>Material aktualisieren</h1>
    <br/>

      {% if form.non_field_errors %}
        {% for nfe in form.non_field_errors %}
            <div class="alert alert-error" role="alert">
                {{ nfe }}
            </div>
        {% endfor %}
      {% endif %}

<form method="post">
    {% csrf_token %}

    <div class="table-container">
        <div class="column">
            <div class="mytitle">Daten zu pflegen</div>
            <div class="content">

    <table>
      {% for field in form.get_normal_fields %}
          {% if not field.is_hidden %}
              <tr>
                  <td>
                      {% with label_with_tooltip=field|add_tooltip %}
                          {{ label_with_tooltip|safe }}:
                          {% if field.field.required %}
                              <span class="required">*</span>
                          {% endif %}
                      {% endwith %}
                  </td>
                  <td>
                      {{ field }}
                      {% if field.errors %}
                          <div class="error">
                              {% for error in field.errors %}
                                  <p>{{ error }}</p>
                              {% endfor %}
                          </div>
                      {% endif %}
                  </td>
              </tr>
          {% else %}
              {{ field }}  <!-- Render hidden fields outside of the table -->
          {% endif %}
      {% endfor %}
    </table>

            </div>
        </div>
        <div class="column">
            <div class="mytitle">Stammdaten</div>
            <div class="content">

    <table>
        {% for field in form.get_readonly_fields %}
            {% if not field.is_hidden %}
                <tr>
                    <td>
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}:
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </label>
                    </td>
                    <td>
                        {{ field }}
                        {% if field.errors %}
                            <div class="error">
                                {% for error in field.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                {{ field }}  <!-- Render hidden fields outside of the table -->
            {% endif %}
        {% endfor %}
    </table>

            </div>
        </div>
    </div>

    <br/>

    <input type="submit" value="Änderungen speichern" class="btn btn-primary">
    <button type="submit" name="cancel" class="btn btn-secondary">Zurück ohne Speichern</button>
</form>


{% endblock %}
