{% extends "base_generic.html" %}

{% block content %}
<h1>Liste des matériels</h1>
    <br/>
{#    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}#}
<table class="table table-striped table-hover">
  {% for mat in list_material_il %}
    <tr>
      <td>
            {{ mat }}
      </td>
       <td>
          <a href="{% url 'show-client' client.client_id %}">Détail</a><br/>
      </td>
     <td>
          <a href="{% url 'update-client' client.client_id %}">Mettre à jour</a><br/>
      </td>
    </tr>
  {% endfor %}
</table>
<br/>
<hr><br/>

{#{% include 'pagination.html' %}#}

{% endblock %}
