{% extends "base_generic.html" %}

<!-- templates/list_material.html -->
{% block content %}
<h1>Materialliste (Hersteller)</h1>
<br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
<form method="post" id="material-form">
    {% csrf_token %}
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th><input type="checkbox" id="select-all"></th>
                <th>Offes/Offenen Material/ien</th>
            </tr>
        </thead>
        <tbody>
            {% for mat in list_material_il %}
                <tr>
                    <td><input type="checkbox" name="selected_materials" value="{{ mat.id }}" class="material-checkbox"></td>
                    <td>{{ mat.positions_nr }} <a href="{% url 'update-material-il' mat.id %}">{{ mat.kurztext_de }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <br/>
    <button type="submit" name="action" value="transfer" class="btn btn-primary action-button" disabled>Übermitteln an die LBA</button>
    <button type="submit" name="action" value="delete" class="btn btn-danger action-button" disabled>Löschen</button>
</form>
<br/>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Übermitteltes/n Material/ien</th>
            </tr>
        </thead>
        <tbody>
            {% for mat in list_material_il_transferred %}
                <tr>
                    <td>{{ mat.positions_nr }} {{ mat.kurztext_de }} ({{ mat.transfer_date|date:"d.m.Y - H:i" }})</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
<hr><br/>
{% include 'checkbox.html' %}
{% endblock %}
