{% extends "base_generic.html" %}

{% block content %}
    <h1>Ajouter un matériel</h1>
    <br/>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form %}
        <p>
            {{ field.label_tag }} {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <div style="color: red;">{{ error }}</div>
                {% endfor %}
            {% endif %}
        </p>
    {% endfor %}
    <input type="submit" value="Enregistrer" class="btn btn-secondary">
</form>
   
{% endblock %}
